@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   list-style: none;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
   width: 5px;
}

body::-webkit-scrollbar-thumb {
   background-color: #dc8068;
   border-radius: 20px;
}

body::-webkit-scrollbar-track {
   background-color: #dedede;
}

section {
   padding: 30px 6%;
}

img {
   width: 100%;
   object-fit: cover;
}

.container {
   max-width: 130rem;
   margin: 0 auto;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
}

.btn {
   display: inline-block;
   padding: 1rem 2rem;
   border: 1px solid #dc8068;
   font-size: 1.4rem;
   text-transform: uppercase;
   color: #dc8068;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.btn:hover {
   color: #ffffff;
   background: #dc8068;
}

.order-btn {
   display: inline-block;
   padding: 1.4rem 2rem;
   background: #c94f2f;
   font-size: 1.8rem;
   text-transform: uppercase;
   color: #ffffff;
   margin: 2rem 0;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.order-btn:hover {
   background: #dc8068;
}

.btn-order {
   display: inline-block;
   padding: 8px 15px;
   border: 1px solid #000;
   font-size: 1.4rem;
   font-weight: bold;
   letter-spacing: 1px;
   color: #362e2a;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.btn-order:hover {
   background: #dc8068;
   color: #ffffff;
   border: 1px solid #dc8068;
}

.banner-btn {
   display: inline-block;
   padding: 1.2rem 2.4rem;
   border: 1px solid #dc8068;
   font-size: 1.4rem;
   text-transform: uppercase;
   color: #ffffff;
   background: #dc8068;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.banner-btn:hover {
   color: #dc8068;
   background: #ffffff;
}

.text-center {
   text-align: center;
}
/* ! Header */
#header {
   width: 100%;
   background-color: rgba(56, 46, 41, 0.6);
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;
}
#header .menu-drop {
   display: none;
}
#header .header-container {
   max-width: 1200px;
   height: 80px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   align-items: center;
   position: relative;
}
#header .header-container .logo {
   width: 165px;
}
#header .header-container .navbar {
   flex-grow: 1;
}
#header .header-container .navbar ul {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 30px;
}
#header .header-container .navbar ul li {
   list-style: none;
}
#header .header-container .navbar ul li a {
   padding: 32px 20px;
   text-decoration: none;
   font-weight: 500;
   color: white;
   font-size: 1.4rem;
   text-transform: uppercase;
   transition: all 0.4s linear;
}
#header .header-container .navbar ul li:nth-child(4) ul {
   position: absolute;
   bottom: -29px;
   margin-left: 0;
   display: none;
}
#header .header-container .navbar ul li:nth-child(4) ul li a {
   padding: 12px 15px;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   color: white;
}
#header .header-container .navbar ul li:nth-child(4) ul li a:hover {
   color: white;
   background-color: #362e2a;
}
#header .header-container .navbar ul li:nth-child(4):hover ul {
   display: block;
}
#header .header-container .navbar ul li:hover > a {
   color: #dc8068;
   background-color: #333;
}
#header .header-container .cart {
   display: flex;
   align-items: center;
   position: relative;
}
#header .header-container .cart a {
   text-decoration: none;
   color: white;
   padding: 31px 10px;
   margin: 0 5px;
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: 500;
}
#header .header-container .cart a:nth-child(1):hover,
#header .header-container .cart a:nth-child(2):hover,
#header .header-container .cart a:nth-child(3):hover {
   color: #dc8068;
}
#header .header-container .cart a:nth-child(3):hover > .signup-form {
   display: block;
}
#header .header-container .cart a:nth-child(3) .signup-form {
   position: absolute;
   bottom: -220px;
   right: 0;
   width: 300px;
   height: 220px;
   border-radius: 15px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   font-family: 'Montserrat', sans-serif;
   display: none;
}
.signup-form h3 {
   margin: 20px auto 10px;
   width: fit-content;
   color: black;
   font-size: 1.4rem;
   font-weight: 500;
}
.signup-form .form-signup {
   width: 250px;
   margin: 0 auto;
}
.signup-form .form-signup label {
   color: black;
   font-size: 1rem;
}
.signup-form .form-signup input {
   width: 100%;
   margin: 5px 0;
   padding: 3px 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.signup-form .form-signup .sign-row {
   width: 200px;
   margin: 5px auto;
   display: flex;
   gap: 10px;
}
.signup-form .form-signup .sign-row input {
   border: none;
   border-radius: 10px;
   padding: 6px 10px;
   cursor: pointer;
   color: white;
}
.signup-form .form-signup .sign-row input:hover {
   background-color: transparent;
   border: 1px solid #dc8068;
   color: #dc8068;
}
.signup-form .form-signup .sign-row .sign-up {
   background-color: #dc8068;
}
.signup-form .form-signup .sign-row .sign-in {
   background-color: #664d42;
}
#header .header-container .cart a:nth-child(4) {
   position: relative;
   width: 60px;
   height: 80px;
   display: inline-block;
   background-color: #dc8068;
   text-align: center;
}
#header .header-container .cart a:nth-child(4)::before {
   content: '\f30c';
   font-family: FontAweSome;
   position: absolute;
   top: 10px;
   left: 40%;
}
#header .header-container .cart span {
   display: none;
}
#header .header-container .cart a .quantity {
   position: relative;
}
#header .header-container .cart a .quantity .quantity-item {
   position: absolute;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   top: -15px;
   right: -8px;
   padding: 2px 4px;
   background-color: #dc8068;
   border-radius: 50%;
   font-size: 1.4rem;
   display: none;
}
#header .header-container .cart a:nth-child(1):hover .quantity-item {
   background-color: white;
   color: #dc8068;
}
#header .header-container .cart a .quantity .quantity-item.active {
   display: block;
}
#addbar {
   width: 100%;
   margin-top: 80px;
}
#addbar .addbar-container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px 15px;
}
#addbar .addbar-container .row {
   padding: 8px 15px;
   margin-bottom: 20px;
   margin-top: 20px;
   background-color: #f5f5f5;
   border-radius: 5px;
}
#addbar .addbar-container .row a {
   font-size: 1.4rem;
   text-decoration: none;
   color: #333;
   font-weight: 500;
}
#addbar .addbar-container .row a::after {
   content: '\f105';
   font-family: FontAweSome;
   margin: 0 5px;
}
#addbar .addbar-container .row span {
   font-size: 1.4rem;
   color: #333;
   font-weight: 500;
}
#content {
   display: block;
   width: 100%;
}
#content .content-container {
   max-width: 1024px;
   width: 100%;
   padding-top: 20px;
   margin: 0 auto;
   display: flex;
}
#content .content-container .image {
   flex-basis: 40%;
}
#content .content-container .image span {
   display: block;
   width: fit-content;
   margin: 0 auto;
}
#content .content-container .information {
   flex-basis: 60%;
}
#content .content-container .information h2 {
   margin-top: 45px;
   font-size: 3rem;
   color: #664d43;
}
#content .content-container .information h3 {
   margin-top: 20px;
   font-size: 2.5rem;
   font-weight: 400;
}
#content .content-container .information p {
   margin-top: 20px;
   font-size: 2rem;
   display: inline-block;
}
#content .content-container .information input {
   border: 1px solid #333;
   margin: 20px 0 0 10px;
   padding: 5px 10px;
   border-radius: 10px;
   width: 50px;
   display: inline-block;
}
#content .content-container .information .btn-search {
   width: fit-content;
   margin: 30px auto 0;
}
#content .content-container .information .btn-search .add-cart {
   padding: 12px 20px;
   border-radius: 20px;
   margin-right: 20px;
   background-color: #dc8068;
}
#content .content-container .information .btn-search .back-store a:hover,
#content .content-container .information .btn-search .add-cart:hover {
   color: #dc8068;
   background-color: white;
   border: 1px solid #dc8068;
   cursor: pointer;
}
#content .content-container .information .btn-search .back-store a {
   padding: 12px 20px;
   border-radius: 20px;
   color: black;
   background-color: #dc8068;
}
.footer {
   text-align: center;
}

.footer .footer__upper {
   background: url(../assets/img/footer-bgs.webp) no-repeat center center/cover;
   padding: 4rem 0 6rem;
}

.footer .footer__upper h2 {
   font-size: 3.5rem;
   color: #664d42;
   font-weight: 500;
}

.footer .footer__upper h3 {
   font-family: 'Great Vibes', cursive;
   font-size: 5rem;
   color: #444;
   font-weight: 400;
}

.footer .footer__upper img {
   width: 100px;
}

.footer .footer__upper .footer-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.footer .footer__upper .footer-nav-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.footer .footer__upper .footer-nav-list a {
   display: inline-block;
   margin: 0 2rem;
   font-size: 1.4rem;
   color: #333;
   font-weight: 500;
   text-transform: uppercase;
}

.footer .footer__upper .footer-nav-list a:hover {
   color: #666;
}

.footer .footer__lower {
   background: #ebebeb;
   padding: 5rem 0;
   text-align: center;
   position: relative;
}

.footer .footer__lower .back-to-top {
   display: inline-block;
   background: #3f3530;
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   position: absolute;
   top: -20%;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.footer .footer__lower .back-to-top i {
   color: #ffffff;
   font-size: 2rem;
}

.footer .footer__lower p {
   font-size: 1.2rem;
   color: #7a6c66;
}
#toast {
   position: fixed;
   top: 85px;
   right: 5px;
   z-index: 99;
}
#toast .toast-msg {
   width: 300px;
   height: 100px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: white;
   border-radius: 30px;
   display: flex;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   animation: fadeIn 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
@keyframes fadeIn {
   0% {
      transform: translateX(315px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}
#toast .toast-msg + .toast-msg {
   margin-top: 15px;
}
#toast .toast-msg .img {
   display: block;
   flex-basis: 45px;
   margin: 0 10px 0 10px;
}
#toast .toast-msg .text h3 {
   margin-top: 5px;
}
#toast .toast-msg .text .name,
#toast .toast-msg .text .number {
   color: #dc8068;
   font-size: 1.4rem;
   margin: 5px 0 5px 0;
}
.img-toast {
   width: 100%;
   object-fit: cover;
   border-radius: 20px;
}

/* Reponsive */

@media screen and (max-width: 1023px) {
   html {
      font-size: 55%;
   }
   section {
      padding: 20px 0;
   }
   /* .image-mobile {
      width: 60%;
      object-fit: cover;
   } */
   #header .header-container .cart a:nth-child(4),
   #header .header-container .navbar {
      display: none !important;
   }
   #header .header-container .cart span {
      display: inline-block;
      font-size: 2rem;
      color: white;
      margin-left: 10px;
   }
   #header .header-container .cart span:hover {
      color: #dc8068;
      cursor: pointer;
   }
   #header .header-container {
      justify-content: space-between;
   }
   #header .menu-drop {
      position: absolute;
      top: 100%;
      right: 0;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      width: 180px;
      display: none;
   }
   #header .menu-drop.active {
      display: block;
   }

   #header .menu-drop .menu-drop__container .list-parent li a {
      color: white;
      padding: 10px 20px;
      min-width: 20px;
      display: block;
      font-size: 1.4rem;
      font-family: 'Montserrat', sans-serif;
   }
   #header .menu-drop .menu-drop__container .list-parent li:hover > a {
      background-color: #dc8068;
   }
   #header .menu-drop .menu-drop__container .list-parent li:nth-child(4) ul li a {
      margin-left: 30px;
      display: none;
   }
   #header .menu-drop .menu-drop__container .list-parent li:nth-child(4):hover li a {
      display: block;
   }
   #header .menu-drop .menu-drop__container .list-parent .list-child li a:hover {
      background-color: transparent;
      color: #dc8068;
   }

   #header .menu-drop .menu-drop__container .list-parent li:nth-child(1) a {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
   }
   #header .menu-drop .menu-drop__container .list-parent li:last-child a {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
   }
   #content .content-container {
      overflow: hidden;
   }
   #content .content-container .image span {
      margin-top: -120px;
   }
}

@media screen and (max-width: 739px) {
   .image-mobile {
      width: 60%;
      object-fit: cover;
   }

   #content .content-container .image span {
      margin-top: 0;
   }
   #addbar .addbar-container .row {
      margin-bottom: 0;
   }
   #content .content-container {
      padding-top: 0;
   }
   #content .content-container .information h2 {
      font-size: 20px;
   }
   #content .content-container .information .btn-search {
      display: flex;
   }
   #content .content-container .information .btn-search .add-cart {
      padding: 5px;
      margin-right: 10px;
   }
   #content .content-container .information .btn-search .back-store {
      padding: 5px;
      background: #dc8068;
      border-radius: 20px;
   }
   #content .content-container .information .btn-search .back-store a {
      padding: 0px;
   }
   .footer .footer__upper h2 {
      font-size: 25px;
   }
   .footer .footer__upper h3 {
      font-size: 40px;
   }
}
