@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   list-style: none;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
   width: 5px;
}

body::-webkit-scrollbar-thumb {
   background-color: #dc8068;
   border-radius: 20px;
}

body::-webkit-scrollbar-track {
   background-color: #dedede;
}

section {
   padding: 30px 6%;
}

img {
   max-width: 100%;
   height: auto;
   display: inline-block;
}

.container {
   max-width: 130rem;
   margin: 0 auto;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
}

.btn {
   display: inline-block;
   padding: 1rem 2rem;
   border: 1px solid #dc8068;
   font-size: 1.4rem;
   text-transform: uppercase;
   color: #dc8068;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.btn:hover {
   color: #ffffff;
   background: #dc8068;
}

.order-btn {
   display: inline-block;
   padding: 1.4rem 2rem;
   background: #c94f2f;
   font-size: 1.8rem;
   text-transform: uppercase;
   color: #ffffff;
   margin: 2rem 0;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.order-btn:hover {
   background: #dc8068;
}

.btn-order {
   display: inline-block;
   padding: 8px 15px;
   border: 1px solid #000;
   font-size: 1.4rem;
   font-weight: bold;
   letter-spacing: 1px;
   color: #362e2a;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.btn-order:hover {
   background: #dc8068;
   color: #ffffff;
   border: 1px solid #dc8068;
}

.banner-btn {
   display: inline-block;
   padding: 1.2rem 2.4rem;
   border: 1px solid #dc8068;
   font-size: 1.4rem;
   text-transform: uppercase;
   color: #ffffff;
   background: #dc8068;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.banner-btn:hover {
   color: #dc8068;
   background: #ffffff;
}

.text-center {
   text-align: center;
}
/* ! Header */
#header {
   width: 100%;
   background-color: rgba(56, 46, 41, 0.6);
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;
}
#header .menu-drop {
   display: none;
}
#header .header-container {
   max-width: 1200px;
   height: 80px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   align-items: center;
   position: relative;
}
#header .header-container .logo {
   width: 165px;
}
#header .header-container .navbar {
   flex-grow: 1;
}
#header .header-container .navbar ul {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 30px;
}
#header .header-container .navbar ul li {
   list-style: none;
}
#header .header-container .navbar ul li a {
   padding: 32px 20px;
   text-decoration: none;
   font-weight: 500;
   color: white;
   font-size: 1.4rem;
   text-transform: uppercase;
   transition: all 0.4s linear;
}
#header .header-container .navbar ul li:nth-child(1) a {
   color: #dc8068;
}
#header .header-container .navbar ul li:nth-child(4) ul {
   position: absolute;
   bottom: -29px;
   margin-left: 0;
   display: none;
}
#header .header-container .navbar ul li:nth-child(4) ul li a {
   padding: 12px 15px;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   color: white;
}
#header .header-container .navbar ul li:nth-child(4) ul li a:hover {
   color: white;
   background-color: #362e2a;
}
#header .header-container .navbar ul li:nth-child(4):hover ul {
   display: block;
}
#header .header-container .navbar ul li:hover > a {
   color: #dc8068;
   background-color: #333;
}
#header .header-container .cart {
   display: flex;
   align-items: center;
   position: relative;
}
#header .header-container .cart a {
   text-decoration: none;
   color: white;
   padding: 31px 10px;
   margin: 0 5px;
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: 500;
}
#header .header-container .cart a:nth-child(1):hover,
#header .header-container .cart a:nth-child(2):hover,
#header .header-container .cart a:nth-child(3):hover {
   color: #dc8068;
}
#header .header-container .cart a:nth-child(3):hover > .signup-form {
   display: block;
}
#header .header-container .cart a:nth-child(3) .signup-form {
   position: absolute;
   bottom: -220px;
   right: 0;
   width: 300px;
   height: 220px;
   border-radius: 15px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   font-family: 'Montserrat', sans-serif;
   display: none;
}
.signup-form h3 {
   margin: 20px auto 10px;
   width: fit-content;
   color: black;
   font-size: 1.4rem;
   font-weight: 500;
}
.signup-form .form-signup {
   width: 250px;
   margin: 0 auto;
}
.signup-form .form-signup label {
   color: black;
   font-size: 1rem;
}
.signup-form .form-signup input {
   width: 100%;
   margin: 5px 0;
   padding: 3px 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.signup-form .form-signup .sign-row {
   width: 200px;
   margin: 5px auto;
   display: flex;
   gap: 10px;
}
.signup-form .form-signup .sign-row input {
   border: none;
   border-radius: 10px;
   padding: 6px 10px;
   cursor: pointer;
   color: white;
}
.signup-form .form-signup .sign-row input:hover {
   background-color: transparent;
   border: 1px solid #dc8068;
   color: #dc8068;
}
.signup-form .form-signup .sign-row .sign-up {
   background-color: #dc8068;
}
.signup-form .form-signup .sign-row .sign-in {
   background-color: #664d42;
}
#header .header-container .cart a:nth-child(4) {
   position: relative;
   width: 60px;
   height: 80px;
   display: inline-block;
   background-color: #dc8068;
   text-align: center;
}
#header .header-container .cart a:nth-child(4)::before {
   content: '\f30c';
   font-family: FontAweSome;
   position: absolute;
   top: 10px;
   left: 40%;
}
#header .header-container .cart span {
   display: none;
}
#header .header-container .cart a .quantity {
   position: relative;
}
#header .header-container .cart a .quantity .quantity-item {
   position: absolute;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   top: -15px;
   right: -8px;
   padding: 2px 4px;
   background-color: #dc8068;
   border-radius: 50%;
   font-size: 1.4rem;
   display: none;
}
#header .header-container .cart a:nth-child(1):hover .quantity-item {
   background-color: white;
   color: #dc8068;
}
#header .header-container .cart a .quantity .quantity-item.active {
   display: block;
}
#main .swiper {
   width: 100%;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   height: 80vh;
}

#main .swiper .swiper-slide img {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

#main .swiper .swiper-button-prev,
#main .swiper .swiper-button-next {
   color: #fff;
}

#main .swiper .swiper-pagination-bullet-active {
   background: #fff;
}

#main .coffee__title {
   text-align: center;
}

#main .coffee__title .coffee__title-img {
   margin-bottom: 20px;
}

#main .coffee__title .coffee__title-img img {
   width: 100px;
}

#main .coffee__title .coffee__title-heading {
   transform: translateY(50px);
   opacity: 0;
   transition: all 1.2s ease-in;
}
#main .coffee__title .coffee__title-heading.active {
   opacity: 1;
   transform: translateY(10px);
}
#main .coffee__title .coffee__title-heading h1 {
   position: relative;
   font-family: 'PT Serif', serif;
   font-size: 4rem;
   font-weight: 300;
   letter-spacing: -1.5px;
   color: rgba(102, 77, 66, 0.7);
   margin-bottom: 10px;
   font-family: 'Dosis', sans-serif;
}

#main .coffee__title .coffee__title-heading h1::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0%;
   width: 100%;
   border-bottom: 1px dashed #b4462a;
}

#main .coffee__title .coffee__title-heading h1 span {
   background: #fff;
   position: relative;
   padding: 0 18px;
   z-index: 2;
}

#main .coffee__title .coffee__title-heading h2 {
   font-family: 'Great Vibes', cursive;
   font-size: 8rem;
   font-weight: 400;
   color: #664d42;
}

#main .pricing__table {
   position: relative;
}

#main .pricing__table .container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   opacity: 0;
   transition: opacity 2s linear;
}
#main .pricing__table .container.active {
   opacity: 1;
}
#main .pricing__table .container .pricing__table-left {
   width: 33%;
   background: #f1c152;
   padding: 25px 15px;
   text-align: center;
}

#main .pricing__table .container .pricing__table-left .left__img {
   position: relative;
   top: 0;
}

#main .pricing__table .container .pricing__table-left h3 {
   font-size: 4rem;
   font-family: 'Great Vibes', cursive;
   font-weight: 300;
   margin-bottom: 10px;
   color: #3f3530;
}

#main .pricing__table .container .pricing__table-left p {
   font-size: 1.5rem;
   font-style: italic;
   color: #664d42;
}

#main .pricing__table .container .pricing__table-right {
   width: 66%;
   background: #3f3530;
   color: #b9a39a;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   padding: 0 15px;
}

#main .pricing__table .container .pricing__table-right .cuisine {
   padding: 0 15px;
}

#main .pricing__table .container .pricing__table-right .cuisine:nth-child(odd) {
   border-right: 1px dotted #56453f;
}

#main .pricing__table .container .pricing__table-right .cuisine .cuisine-container {
   height: 100%;
   padding: 25px 0;
   position: relative;
}

#main .pricing__table .container .pricing__table-right .cuisine .cuisine-container::before {
   content: '';
   border-bottom: 1px solid #664d42;
   width: 100%;
   position: absolute;
   bottom: 20px;
}

#main .pricing__table .container .pricing__table-right .cuisine .cuisine-container a {
   font-size: 2.5rem;
   font-family: 'Arima Madurai', cursive;
   color: #b9a39a;
}

#main .pricing__table .container .pricing__table-right .cuisine .cuisine-container p {
   font-size: 1.4rem;
   margin: 10px 0;
   color: #9a847b;
   font-style: italic;
   min-height: 100px;
}

#main .pricing__table .container .pricing__table-right .cuisine .cuisine-container .cuisine-price {
   font-size: 2rem;
}

#main .orders {
   background: #f7f7f7;
}

#main .orders .container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (1fr);
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 10px;
}

#main .orders .container .order__item {
   padding: 30px 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   transition: all 0.5s ease-in;
}

#main .orders .container .order__item .order__item-img {
   width: 200px;
   height: 200px;
   margin-bottom: 50px;
   cursor: pointer;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

#main .orders .container .order__item .order__item-img:hover {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

#main .orders .container .order__item .order__item-text {
   width: 100%;
}

#main .orders .container .order__item .order__item-text h3 {
   font-size: 3rem;
   font-family: 'PT Serif', serif;
   font-weight: 400;
   margin-bottom: 20px;
}

#main .orders .container .order__item .order__item-text h3 span {
   display: block;
   font-family: 'Great Vibes', cursive;
   font-size: 6rem;
   line-height: 1;
}

#main .orders .container .order__item:nth-child(1) {
   background: #68d0af;
   transform: translateX(-200px);
   opacity: 0;
}

#main .orders .container .order__item:nth-child(2) {
   background: #d2d86f;
   transform: translateY(100px);
   opacity: 0;
}

#main .orders .container .order__item:nth-child(3) {
   background: #83bed7;
   transform: translateX(200px);
   opacity: 0;
}
#main .orders .container .order__item.active {
   opacity: 1;
   transform: translate(0, 0);
}
#main .book-order .container .book-order-item {
   background: #50aecc;
   padding: 30px 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

#main .book-order .container .book-order-item .book__order-left {
   color: #ffffff;
}

#main .book-order .container .book-order-item .book__order-left h3 {
   font-size: 2.5rem;
   font-family: 'PT Serif', serif;
   font-weight: 400;
   margin-bottom: 30px;
}

#main .book-order .container .book-order-item .book__order-left h4 {
   font-size: 5rem;
   font-family: 'PT Serif', serif;
   font-weight: 400;
}

#main .book-order .container .book-order-item .book__order-left h4 i {
   animation: verical-slow 10s ease-in-out infinite;
}
@keyframes verical-slow {
   2% {
      transform: translate(0, 1.5px) rotate(1.5deg);
   }
   4% {
      transform: translate(0, -1.5px) rotate(-0.5deg);
   }
   6% {
      transform: translate(0, 1.5px) rotate(-1.5deg);
   }
   8% {
      transform: translate(0, -1.5px) rotate(-1.5deg);
   }
   10% {
      transform: translate(0, 2.5px) rotate(1.5deg);
   }
   12% {
      transform: translate(0, -0.5px) rotate(1.5deg);
   }
   14% {
      transform: translate(0, -1.5px) rotate(1.5deg);
   }
   16% {
      transform: translate(0, -0.5px) rotate(-1.5deg);
   }
   18% {
      transform: translate(0, 0.5px) rotate(-1.5deg);
   }
   20% {
      transform: translate(0, -1.5px) rotate(2.5deg);
   }
   22% {
      transform: translate(0, 0.5px) rotate(-1.5deg);
   }
   24% {
      transform: translate(0, 1.5px) rotate(1.5deg);
   }
   26% {
      transform: translate(0, 0.5px) rotate(0.5deg);
   }
   28% {
      transform: translate(0, 0.5px) rotate(1.5deg);
   }
   30% {
      transform: translate(0, -0.5px) rotate(2.5deg);
   }
   32% {
      transform: translate(0, 1.5px) rotate(-0.5deg);
   }
   34% {
      transform: translate(0, 1.5px) rotate(-0.5deg);
   }
   36% {
      transform: translate(0, -1.5px) rotate(2.5deg);
   }
   38% {
      transform: translate(0, 1.5px) rotate(-1.5deg);
   }
   40% {
      transform: translate(0, -0.5px) rotate(2.5deg);
   }
   42% {
      transform: translate(0, 2.5px) rotate(-1.5deg);
   }
   44% {
      transform: translate(0, 1.5px) rotate(0.5deg);
   }
   46% {
      transform: translate(0, -1.5px) rotate(2.5deg);
   }
   48% {
      transform: translate(0, -0.5px) rotate(0.5deg);
   }
   50% {
      transform: translate(0, 0.5px) rotate(0.5deg);
   }
   52% {
      transform: translate(0, 2.5px) rotate(2.5deg);
   }
   54% {
      transform: translate(0, -1.5px) rotate(1.5deg);
   }
   56% {
      transform: translate(0, 2.5px) rotate(2.5deg);
   }
   58% {
      transform: translate(0, 0.5px) rotate(2.5deg);
   }
   60% {
      transform: translate(0, 2.5px) rotate(2.5deg);
   }
   62% {
      transform: translate(0, -0.5px) rotate(2.5deg);
   }
   64% {
      transform: translate(0, -0.5px) rotate(1.5deg);
   }
   66% {
      transform: translate(0, 1.5px) rotate(-0.5deg);
   }
   68% {
      transform: translate(0, -1.5px) rotate(-0.5deg);
   }
   70% {
      transform: translate(0, 1.5px) rotate(0.5deg);
   }
   72% {
      transform: translate(0, 2.5px) rotate(1.5deg);
   }
   74% {
      transform: translate(0, -0.5px) rotate(0.5deg);
   }
   76% {
      transform: translate(0, -0.5px) rotate(2.5deg);
   }
   78% {
      transform: translate(0, -0.5px) rotate(1.5deg);
   }
   80% {
      transform: translate(0, 1.5px) rotate(1.5deg);
   }
   82% {
      transform: translate(0, -0.5px) rotate(0.5deg);
   }
   84% {
      transform: translate(0, 1.5px) rotate(2.5deg);
   }
   86% {
      transform: translate(0, -1.5px) rotate(-1.5deg);
   }
   88% {
      transform: translate(0, -0.5px) rotate(2.5deg);
   }
   90% {
      transform: translate(0, 2.5px) rotate(-0.5deg);
   }
   92% {
      transform: translate(0, 0.5px) rotate(-0.5deg);
   }
   94% {
      transform: translate(0, 2.5px) rotate(0.5deg);
   }
   96% {
      transform: translate(0, -0.5px) rotate(1.5deg);
   }
   98% {
      transform: translate(0, -1.5px) rotate(-0.5deg);
   }
   0%,
   100% {
      transform: translate(0, 0) rotate(0);
   }
}

#main .book-order .container .book-order-item .book__order-right {
   width: 400px;
}

#main .book-order .container .book-order-item .book__order-right img {
   min-width: 100%;
   min-height: 100%;
}

#main .banner {
   background-image: -webkit-gradient(
         linear,
         left top,
         left bottom,
         from(rgba(0, 0, 0, 0.3)),
         to(transparent)
      ),
      url(../assets/img/banner_1.webp);
   background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
      url(../assets/img/banner_1.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 800px;
   width: 100%;
   padding: 0;
}

#main .banner .container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   height: 100%;
   color: #fff;
   position: relative;
}

#main .banner .container .banner__img {
   text-align: left;
   height: 100%;
   position: relative;
}

#main .banner .container .banner__img .banner__img-1 {
   z-index: 10;
   position: absolute;
   left: 30px;
   height: 355px;
   height: 0px;
   overflow: hidden;
   /* animation: milk 2s linear 1s forwards; */
}
@keyframes milk {
   0% {
      height: 0px;
   }
   100% {
      height: 355px;
   }
}

#main .banner .container .banner__img .banner__img-2 {
   position: absolute;
   height: 300px;
   left: 15px;
   bottom: 165px;
   opacity: 0;
   /* animation: cup 1s ease; */
}
@keyframes cup {
   0% {
      transform: translateY(100px);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}
#main .banner .container .banner__img .banner__img-3 {
   position: absolute;
   bottom: 56%;
   left: 165px;
   opacity: 0;
   /* animation: dropMilk 0.2s ease-out 3s forwards; */
}
@keyframes dropMilk {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
#main .banner .container .banner__content {
   text-align: right;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-right: 15px;
}

#main .banner .container .banner__content h3 {
   font-size: 4rem;
   text-transform: uppercase;
   font-weight: 500;
   margin-bottom: 30px;
}

#main .banner .container .banner__content p {
   font-size: 1.5rem;
   margin-bottom: 30px;
   font-style: italic;
}

#main .banner .container .banner__content a {
   -ms-flex-item-align: end;
   align-self: flex-end;
}

#main .online__store {
   background: #f7f7f7;
}

#main .online__store .container .store__product {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 10px;
   margin-bottom: 30px;
}

#main .online__store .container .store__product .store__product-item {
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#main .online__store .container .store__product .store__product-item .item-img {
   width: 250px;
   margin: 0 auto;
}
#main .online__store .container .store__product .store__product-item .item-detail {
   padding: 40px 10px 20px;
   background: #3f3530;
   position: relative;
}

#main .online__store .container .store__product .store__product-item .item-detail .product-rate {
   position: absolute;
   top: -15%;
   left: 10%;
   color: #fff;
   padding: 10px 24px;
   background: #dc8068;
   border-radius: 5px;
   font-size: 1.8rem;
}

#main .online__store .container .store__product .store__product-item .item-detail h4 {
   min-height: 50px;
}

#main .online__store .container .store__product .store__product-item .item-detail h4 a {
   color: #fff;
   font-size: 1.8rem;
   font-weight: 400;
}

#main .online__store .container .store__product .store__product-item .item-detail h4 a:hover {
   color: #c94f2f;
}

#main .online__store .container .store__product .store__product-item .item-detail p {
   font-size: 1.6rem;
   color: #e6a391;
}

#main .online__store .container .store__product .store__product-item .item-btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

#main .online__store .container .store__product .store__product-item .item-btn .product-btn {
   width: 100%;
   display: inline-block;
   padding: 15px 10px;
   font-size: 1.4rem;
   text-align: center;
}

#main .online__store .container .store__product .store__product-item .item-btn .product-btn-light {
   background: #c94f2f;
   color: #fff;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

#main
   .online__store
   .container
   .store__product
   .store__product-item
   .item-btn
   .product-btn-light:hover {
   background: #dc8068;
}

#main .online__store .container .store__product .store__product-item .item-btn .product-btn-dark {
   background: #56453f;
   color: #dc8068;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

#main
   .online__store
   .container
   .store__product
   .store__product-item
   .item-btn
   .product-btn-dark:hover {
   background: #664d42;
}

#main .sale {
   background: #372726;
   padding-top: 40px;
   padding-bottom: 40px;
}

#main .sale .container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   color: #ffffff;
}

#main .sale .container .offer-detail {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 66%;
   flex: 1 1 66%;
}

#main .sale .container .offer-detail figcaption {
   margin-left: 30px;
}

#main .sale .container .offer-detail figcaption h3 {
   font-size: 4rem;
   font-family: 'PT Serif', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.5px;
}

#main .sale .container .offer-detail figcaption p {
   font-size: 1.6rem;
}

#main .sale .container .coupon-code {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 33%;
   flex: 1 1 33%;
   width: 100%;
   height: 100%;
}

#main .sale .container .coupon-code .code-wrapper {
   background: #fff;
   width: 100%;
   height: 100%;
   padding: 15px;
}

#main .sale .container .coupon-code .code-wrapper .coupon-button {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   text-align: center;
   border: 1px dotted #3f3530;
   padding: 20px;
}

#main .sale .container .coupon-code .code-wrapper .coupon-button img {
   display: block;
   width: 100px;
   margin: 0 auto;
   margin-bottom: 20px;
}

#main .sale .container .coupon-code .code-wrapper .coupon-button span {
   font-size: 1.8rem;
   text-transform: uppercase;
   color: #3f3530;
   font-weight: 500;
}

#main .table__book .container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

#main .table__book .container .table__book-img {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
   background-image: url(../assets/img/book-table-img.webp);
   background-size: cover;
   background-position: center;
}

#main .table__book .container .form {
   background: #f7f7f7;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 60%;
   flex: 1 1 60%;
   width: 100%;
   height: 100%;
   padding: 20px 40px;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
}

#main .table__book .container .form h3 {
   font-family: 'PT Serif', serif;
   font-size: 4rem;
   font-weight: 300;
   letter-spacing: -1.5px;
   color: #3f3530;
   margin-bottom: 30px;
}

#main .table__book .container .form .table__book-img {
   -ms-flex-item-align: stretch;
   -ms-grid-row-align: stretch;
   align-self: stretch;
}

#main .table__book .container .form .form-group {
   width: 100%;
}

#main .table__book .container .form .form-group label {
   display: block;
   font-size: 1.6rem;
   font-weight: 500;
   color: #362e2a;
   margin-bottom: 15px;
}

#main .table__book .container .form .form-group input,
#main .table__book .container .form .form-group select,
#main .table__book .container .form .form-group textarea {
   width: 100%;
   padding: 0.8rem 1.2rem;
   font-size: 1.6rem;
   font-family: inherit;
   color: #777;
   border: 1px solid #acacac;
   margin-bottom: 15px;
   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   resize: none;
}

#main .table__book .container .form .form-group textarea {
   height: 100px;
}

#main .table__book .container .form .form-group input::-webkit-input-placeholder {
   color: #777;
}

#main .table__book .container .form .form-group input:-ms-input-placeholder {
   color: #777;
}

#main .table__book .container .form .form-group input::-ms-input-placeholder {
   color: #777;
}

#main .table__book .container .form .form-group input::placeholder {
   color: #777;
}

#main .table__book .container .form .form-group:nth-child(4) {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

#main .table__book .container .form .form-group:nth-child(4) .col {
   width: 80%;
}

#main .table__book .container .form .form-group:nth-child(4) .col:first-child {
   margin-right: 20px;
}

#main .table__book .container .form button {
   cursor: pointer;
   width: 100%;
}

#main .testimonial {
   background-image: url(../assets/img/testimonial-bg.webp);
   width: 100%;
   background-size: cover;
   background-position: center;
}

#main .testimonial .coffee__title {
   padding-bottom: 50px;
}

#main .testimonial .swiper {
   width: 100%;
   height: 100%;
}

#main .testimonial .swiper .testimonial-card {
   -webkit-box-shadow: 0 5px 10px -8px;
   box-shadow: 0 5px 10px -8px;
}

#main .testimonial .swiper .testimonial-card .user-detail {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 15px;
}

#main .testimonial .swiper .testimonial-card .user-detail img {
   width: 150px;
   border-radius: 50%;
}

#main .testimonial .swiper .testimonial-card .user-detail .user-detail-text {
   margin-left: 20px;
   text-align: left;
}

#main .testimonial .swiper .testimonial-card .user-detail .user-detail-text h3 {
   font-size: 3rem;
   font-family: 'PT Serif', serif;
   color: #664d42;
   font-weight: 400;
   text-transform: capitalize;
   letter-spacing: -0.5px;
   margin-bottom: 15px;
}

#main .testimonial .swiper .testimonial-card .user-detail .user-detail-text p {
   font-style: italic;
   color: #856456;
   line-height: 1.7;
   font-size: 1.6rem;
}

#main .contact-us .contact-wrapper {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   height: 500px;
}

#main .contact-us .contact-wrapper .address {
   background: -webkit-gradient(
         linear,
         left top,
         left bottom,
         from(rgba(0, 0, 0, 0.5)),
         to(rgba(0, 0, 0, 0.5))
      ),
      url(../assets/img/contact-bg.webp) no-repeat center center/cover;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/img/contact-bg.webp) no-repeat center center/cover;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

#main .contact-us .contact-wrapper .address h2 {
   font-size: 6rem;
   color: #372726;
   text-transform: uppercase;
   position: relative;
   text-shadow: 2px 2px 8px #fff;
}

#main .contact-us .contact-wrapper .address h2 img {
   position: absolute;
   top: -25px;
   left: -90px;
}

#main .contact-us .contact-wrapper .address h3 {
   font-size: 3rem;
   color: #372726;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 20px;
   text-align: center;
   text-shadow: 2px 2px 8px #fff;
}

#main .contact-us .contact-wrapper .address p {
   font-size: 1.6rem;
   color: #75423e;
   font-weight: 500;
   text-align: center;
   text-shadow: 2px 2px 8px #fff;
}

#main .contact-us .contact-wrapper .map iframe {
   height: 100%;
}

.footer {
   text-align: center;
}

.footer .footer__upper {
   background: url(../assets/img/footer-bgs.webp) no-repeat center center/cover;
   padding: 4rem 0 6rem;
}

.footer .footer__upper h2 {
   font-size: 3.5rem;
   color: #664d42;
   font-weight: 500;
}

.footer .footer__upper h3 {
   font-family: 'Great Vibes', cursive;
   font-size: 5rem;
   color: #444;
   font-weight: 400;
}

.footer .footer__upper img {
   width: 100px;
}

.footer .footer__upper .footer-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.footer .footer__upper .footer-nav-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.footer .footer__upper .footer-nav-list a {
   display: inline-block;
   margin: 0 2rem;
   font-size: 1.4rem;
   color: #333;
   font-weight: 500;
   text-transform: uppercase;
}

.footer .footer__upper .footer-nav-list a:hover {
   color: #666;
}

.footer .footer__lower {
   background: #ebebeb;
   padding: 5rem 0;
   text-align: center;
   position: relative;
}

.footer .footer__lower .back-to-top {
   display: inline-block;
   background: #3f3530;
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   position: absolute;
   top: -20%;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.footer .footer__lower .back-to-top i {
   color: #ffffff;
   font-size: 2rem;
}

.footer .footer__lower p {
   font-size: 1.2rem;
   color: #7a6c66;
}

/* ! Reponsive */

/* Tablet (max-width: 1023px)*/
@media screen and (max-width: 1023px) and (min-width: 740px) {
   section {
      padding: 20px 0;
   }
   .image-mobile {
      width: 60%;
      object-fit: cover;
   }

   .swiper-button-prev,
   .swiper-button-next,
   #header .header-container .cart a:nth-child(4),
   #header .header-container .navbar {
      display: none !important;
   }
   #header .header-container .cart span {
      display: inline-block;
      font-size: 2rem;
      color: white;
      margin-left: 10px;
   }
   #header .header-container .cart span:hover {
      color: #dc8068;
      cursor: pointer;
   }
   #main .swiper {
      height: 50vh;
   }
   #header .header-container {
      justify-content: space-between;
   }
   #header .menu-drop {
      position: absolute;
      top: 100%;
      right: 0;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      width: 180px;
      display: none;
   }
   #header .menu-drop.active {
      display: block;
   }

   #header .menu-drop .menu-drop__container .list-parent li a {
      color: white;
      padding: 10px 20px;
      min-width: 20px;
      display: block;
      font-size: 1.4rem;
      font-family: 'Montserrat', sans-serif;
   }
   #header .menu-drop .menu-drop__container .list-parent li:hover > a {
      background-color: #dc8068;
   }
   #header .menu-drop .menu-drop__container .list-parent li:nth-child(4) ul li a {
      margin-left: 30px;
      display: none;
   }
   #header .menu-drop .menu-drop__container .list-parent li:nth-child(4):hover li a {
      display: block;
   }
   #header .menu-drop .menu-drop__container .list-parent .list-child li a:hover {
      background-color: transparent;
      color: #dc8068;
   }

   #header .menu-drop .menu-drop__container .list-parent li:nth-child(1) a {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
   }
   #header .menu-drop .menu-drop__container .list-parent li:last-child a {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
   }
   #main .coffee__title .coffee__title-heading h2 {
      font-size: 6rem;
   }
   #main .pricing__table .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   #main .pricing__table .container .pricing__table-left {
      width: 100%;
      height: 245px;
      border-radius: 30px;
   }
   #main .pricing__table .container .pricing__table-left .left__img {
      float: left;
   }
   #main .pricing__table .container .pricing__table-left .left__content {
      margin-top: 50px;
   }
   #main .pricing__table .container .pricing__table-left p {
      font-size: 1.8rem;
   }
   #main .pricing__table .container .pricing__table-right {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
   }
   #main .orders .container .order__item .order__item-text h3 {
      font-size: 2.5rem;
   }
   #main .orders .container .order__item .order__item-text h3 span {
      font-size: 4.5rem;
   }
   #main .book-order .container .book-order-item,
   #main .orders .container .order__item {
      border-radius: 20px;
   }
   #main .banner .container .banner__img {
      width: 385px;
      height: 800px;
   }
   #main .banner .container .banner__img .banner__img-1 {
      border: none;
   }
   #main .table__book .container .form h3 {
      font-size: 3.5rem;
      text-align: center;
   }
}
#toastId {
   position: fixed;
   top: 100px;
   right: 0;
   z-index: 9999;
}
#toastId .toast-msg {
   width: 300px;
   height: 70px;
   padding: 5px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-left: 20px solid #c7c729;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   animation: fadeIn 0.5s ease;
   transition: all 0.8s ease-in-out;
   background-color: white;
}
#toastId .toast-msg p {
   font-size: 1.4rem;
   position: relative;
}
#toastId .toast-msg p::before {
   content: '\21';
   font-family: 'FontAweSome';
   position: absolute;
   left: -15px;
   bottom: 5px;
   font-size: 2rem;
}
#toastId .toast-msg + .toast-msg {
   margin-top: 10px;
}
@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateX(290px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
/* Mobile (max-width; 739px) */
@media screen and (max-width: 739px) {
   section {
      padding: 20px 0;
   }
   .image-mobile {
      width: 60%;
      object-fit: cover;
   }
   /* .image-width {
      width: 100px !important;
   } */
   .swiper-button-prev,
   .swiper-button-next,
   #header .header-container .cart a:nth-child(4),
   #header .header-container .navbar {
      display: none !important;
   }
   #header .header-container .cart span {
      display: inline-block;
      font-size: 2rem;
      color: white;
      margin-left: 10px;
   }
   #header .header-container .cart span:hover {
      color: #dc8068;
      cursor: pointer;
   }
   #main .swiper {
      height: 50vh;
   }
   #header .header-container {
      justify-content: space-between;
   }
   #header .menu-drop {
      position: absolute;
      top: 100%;
      right: 0;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      width: 180px;
      display: none;
   }
   #header .menu-drop.active {
      display: block;
   }

   #header .menu-drop .menu-drop__container .list-parent li a {
      color: white;
      padding: 10px 20px;
      min-width: 20px;
      display: block;
      font-size: 1.4rem;
      font-family: 'Montserrat', sans-serif;
   }
   #header .menu-drop .menu-drop__container .list-parent li:hover > a {
      background-color: #dc8068;
   }
   #header .menu-drop .menu-drop__container .list-parent li:nth-child(4) ul li a {
      margin-left: 30px;
      display: none;
   }
   #header .menu-drop .menu-drop__container .list-parent li:nth-child(4):hover li a {
      display: block;
   }
   #header .menu-drop .menu-drop__container .list-parent .list-child li a:hover {
      background-color: transparent;
      color: #dc8068;
   }

   #header .menu-drop .menu-drop__container .list-parent li:nth-child(1) a {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
   }
   #header .menu-drop .menu-drop__container .list-parent li:last-child a {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
   }
   #main .coffee__title .coffee__title-heading h1::before {
      top: 65%;
   }
   #main .coffee__title .coffee__title-heading h1 span {
      font-size: 3rem;
   }
   #main .coffee__title .coffee__title-heading h2 {
      font-size: 4rem;
   }
   #main .pricing__table .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   #main .pricing__table .container .pricing__table-left {
      width: 100%;
      height: 300px;
      border-radius: 30px;
   }

   #main .pricing__table .container .pricing__table-left .left__img {
      width: 120px;
      margin: auto;
   }
   #main .pricing__table .container .pricing__table-left p {
      font-size: 1.4rem;
   }
   #main .pricing__table .container .pricing__table-left .left__content {
      margin-top: -30px;
   }
   #main .pricing__table .container .pricing__table-left h3 {
      font-size: 3rem;
   }
   #main .pricing__table .container .pricing__table-right .cuisine .cuisine-container a {
      font-size: 1.8rem;
   }
   #main .pricing__table .container .pricing__table-right {
      width: 100%;
      margin-top: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
   }
   #main .orders .container .order__item .order__item-text h3 {
      font-size: 2.5rem;
   }
   #main .orders .container .order__item .order__item-text h3 span {
      font-size: 4.5rem;
   }
   #main .book-order .container .book-order-item {
      flex-direction: column;
   }
   #main .book-order .container .book-order-item .book__order-right {
      width: 100%;
   }
   #main .book-order .container .book-order-item .book__order-left h3 {
      font-size: 2rem;
      margin-bottom: 15px;
   }
   #main .book-order .container .book-order-item .book__order-left h4 {
      font-size: 3rem;
      text-align: center;
   }
   #main .book-order .container .book-order-item,
   #main .orders .container .order__item {
      border-radius: 20px;
   }
   #main .banner .container .banner__img .banner__img-1 {
      border: none;
   }
   #main .table__book .container .form h3 {
      font-size: 2.8rem;
      text-align: center;
   }
   #main .banner .container {
      display: flex;
      flex-direction: column;
   }
   #main .banner .container .banner__img {
      width: 345px;
      height: 428px;
   }
   #main .banner .container .banner__img .banner__img-1 {
      width: 48%;
      left: 110px;
   }
   #main .banner .container .banner__img .banner__img-2 {
      width: 40%;
      left: 100px;
      bottom: -55px;
   }
   #main .banner .container .banner__img .banner__img-3 {
      bottom: 55%;
      left: 156px;
   }
   #main .banner .container .banner__content h3 {
      font-size: 3rem;
      text-align: center;
   }
   #main .banner .container .banner__content {
      position: relative;
      top: -60px;
   }
   #main .banner .container .banner__content p {
      text-align: left;
   }
   #main .online__store .container .store__product {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   }
   #main .online__store .container .store__product .store__product-item .item-img {
      width: 150px;
   }
   #main
      .online__store
      .container
      .store__product
      .store__product-item
      .item-btn
      .product-btn-light {
      display: none;
   }
   #main .sale .container {
      display: block;
   }
   #main .sale .container .offer-detail {
      flex-direction: column;
      align-items: center;
   }
   #main .sale .container .coupon-code .code-wrapper {
      display: none;
   }
   #main .sale .container .offer-detail figcaption {
      text-align: center;
      margin-top: 20px;
      margin-left: 0;
   }
   #main .sale .container .offer-detail figcaption h3 {
      font-size: 3rem;
      margin: 15px 0;
   }
   #main .table__book .container {
      flex-direction: column;
   }
   #main .table__book .container .table__book-img {
      padding-top: 80%;
   }
   #main .table__book .container .form .form-group:nth-child(4) {
      flex-direction: column;
   }
   #main .table__book .container .form .form-group:nth-child(4) .col:first-child {
      margin-right: 0;
   }
   #main .table__book .container .form .form-group:nth-child(4) .col {
      width: 100%;
   }
   #main .testimonial .swiper .testimonial-card .user-detail {
      flex-direction: column;
   }
   #main .testimonial .swiper .testimonial-card .user-detail .user-detail-text {
      text-align: center;
      margin: 15px 0 0;
   }
   .map {
      display: none;
   }
   #main .contact-us .contact-wrapper {
      display: block;
   }
   #main .contact-us .contact-wrapper .address {
      width: 100%;
   }
   #main .contact-us .contact-wrapper {
      display: block;
      height: fit-content;
   }
   #main .contact-us .contact-wrapper .address {
      height: 250px;
      display: block;
      background-image: url(../assets/img/contact-bg.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }
   #main .contact-us .contact-wrapper .address h2 {
      padding-top: 20px;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   #main .contact-us .contact-wrapper .address h2 img {
      width: 50px;
   }
   #main .contact-us .contact-wrapper .address h3 {
      text-align: center;
      font-size: 2rem;
      margin-top: 20px;
   }
   #main .contact-us .contact-wrapper .address p {
      text-align: center;
   }
   .footer .footer__upper .footer-nav-list a {
      margin: 0;
   }
   .footer .footer__upper h2 {
      font-size: 2.5rem;
   }
   .footer .footer__upper .footer-nav-list li a {
      padding: 10px 5px;
   }
}
