* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   scroll-snap-type: #dc8068;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

.image {
   width: 100%;
   object-fit: cover;
}

.width {
   width: 200px;
   padding: 10px;
   margin: 0 auto;
}

.clear {
   clear: both;
}

#header {
   width: 100%;
   background-color: #362e2a;
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;
}
#header .header-container {
   max-width: 1200px;
   height: 80px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   align-items: center;
   position: relative;
}
#header .header-container .logo {
   width: 165px;
}
#header .header-container .navbar {
   flex-grow: 1;
}
#header .header-container .navbar ul {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 30px;
}
#header .header-container .navbar ul li {
   list-style: none;
}
#header .header-container .navbar ul li a {
   padding: 32px 20px;
   text-decoration: none;
   font-weight: 500;
   color: white;
   font-size: 1.4rem;
   text-transform: uppercase;
   transition: all 0.4s linear;
}
#header .header-container .navbar ul li:nth-child(4) ul {
   position: absolute;
   bottom: -29px;
   margin-left: 0;
   display: none;
}
#header .header-container .navbar ul li:nth-child(4) ul li a {
   padding: 12px 15px;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
}
#header .header-container .navbar ul li:nth-child(4) ul li a:hover {
   color: white;
   background-color: #362e2a;
}
#header .header-container .navbar ul li:nth-child(4):hover ul {
   display: block;
}
#header .header-container .navbar ul li:hover > a {
   color: #dc8068;
}
#header .header-container .cart {
   display: flex;
   align-items: center;
}
#header .header-container .cart a {
   text-decoration: none;
   color: white;
   padding: 31px 10px;
   margin: 0 5px;
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: 500;
}
#header .header-container .cart a:nth-child(2):hover,
#header .header-container .cart a:nth-child(3):hover {
   color: #dc8068;
}
#header .header-container .cart a:nth-child(1) {
   color: #dc8068;
}
#header .header-container .cart a:last-child {
   position: relative;
   width: 60px;
   height: 80px;
   display: inline-block;
   background-color: #dc8068;
   text-align: center;
}
#header .header-container .cart a:last-child::before {
   content: '\f30c';
   font-family: FontAweSome;
   position: absolute;
   top: 10px;
   left: 40%;
}

#addbar {
   width: 100%;
   margin-top: 80px;
}
#addbar .addbar-container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px 15px;
}
#addbar .addbar-container .row {
   padding: 8px 15px;
   margin-bottom: 20px;
   background-color: #f5f5f5;
   border-radius: 5px;
}
#addbar .addbar-container .row a {
   font-size: 1.4rem;
   text-decoration: none;
   color: #333;
   font-weight: 500;
}
#addbar .addbar-container .row a::after {
   content: '\f105';
   font-family: FontAweSome;
   margin: 0 5px;
}
#addbar .addbar-container .row span {
   font-size: 1.4rem;
   color: #333;
   font-weight: 500;
}

#content {
   display: block;
   width: 100%;
   margin-top: 30px;
}
#content .content-container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 30px;
}
#content .content-container .cart-local {
   margin: 0 auto;
   max-width: 1170px;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   border-collapse: collapse;
   display: none;
}
#content .content-container .cart-local.active-cart {
   display: table;
}
#content .content-container .cart-local tr {
   border-bottom: 1px solid #ccc;
}
#content .content-container .cart-local tr th {
   padding: 30px 15px;
   font-size: 1.6rem;
   font-weight: 400;
}
#content .content-container .cart-local tr th:first-child {
   width: 40%;
}
#content .content-container .cart-local tr th:nth-child(3) {
   width: 15%;
}
#content .content-container .cart-local tr th:nth-child(4) {
   width: 30%;
}
#content .content-container .cart-local td {
   padding-left: 20px;
   font-size: 1.6rem;
   font-weight: 500;
   text-align: center;
   font-weight: bold;
}
#content .content-container .cart-local button {
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   display: inline-block;
   font-size: 1.6rem;
   padding: 5px 10px;
   color: white;
   background-color: #dc8068;
   border-radius: 5px;
   border: none;
   transition: all 0.4s ease;
}
#content .content-container .cart-local button:hover {
   background-color: white;
   color: #dc8068;
   border: 1px solid #c94f2f;
   cursor: pointer;
}
#content .content-container .cart-local td:first-child {
   width: 50px;
   padding-bottom: 5px;
}
#content .content-container .cart-local td:nth-child(2) {
   text-align: left;
   padding-left: 20px;
   width: fit-content;
}
#content .content-container .cart-local td:nth-child(4) input {
   padding: 5px 10px;
   width: 60px;
}
#content .content-container .cart-emty {
   width: 450px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   display: none;
}
#content .content-container .cart-emty.active {
   display: flex;
}
#content .content-container .cart-emty h1 {
   text-transform: uppercase;
   font-weight: bold;
}
#content .content-container .cart-emty .emty {
   margin-top: 50px;
   display: block;
   width: 210px;
   height: auto;
}
#content .content-container .cart-emty h4 {
   font-size: 1.6rem;
   margin-top: 20px;
}
#content .content-container .cart-emty button {
   border: none;
   margin-top: 50px;
}
#content .content-container .cart-emty button a {
   text-decoration: none;
   color: white;
   background-color: #dc8068;
   padding: 15px 25px;
   text-transform: uppercase;
   border-radius: 20px;
   font-family: 'Montserrat', sans-serif;
   transition: all 0.5s ease;
}
#content .content-container .cart-emty button a::before {
   content: '\f104';
   font-family: FontAweSome;
   margin-right: 6px;
   font-size: 1.2rem;
}
#content .content-container .cart-emty button a:hover {
   border: 1px solid #dc8068;
   background-color: white;
   color: #dc8068;
}
#content .content-container .total {
   padding: 20px 30px;
   display: none;
   flex-direction: column;
   align-items: flex-end;
   font-family: 'Montserrat', sans-serif;
}
#content .content-container .total.active-total {
   display: flex;
}
#content .content-container .total p {
   font-size: 1.6rem;
   display: inline-block;
}
#content .content-container .total p span {
   font-size: 2rem;
   font-weight: bold;
   margin-right: 20px;
}
#content .content-container .total .btn button {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   border: none;
   padding: 8px 15px;
   border-radius: 10px;
   margin: 20px 20px 0;
   background-color: #dc8068;
}
#content .content-container .total .btn button:hover {
   cursor: pointer;
   border: 1px solid #dc8068;
   background-color: white;
   color: #dc8068;
}

#footer {
   width: 100%;
}
#footer .visit {
   padding: 40px 0;
   margin-top: 40px;
   background-image: url(../assets/img/footer-bgs.webp);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;
}
#footer .visit .visit-container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
#footer .visit .visit-container h2 {
   font-size: 3.5rem;
   color: #664d42;
   font-weight: 400;
   margin-bottom: 10px;
}
#footer .visit .visit-container h3 {
   font-size: 6rem;
   font-family: 'Great Vibes', cursive;
   color: #333;
   font-weight: 400;
}
#footer .visit .visit-container .logo {
   width: 100px;
   margin: 10px auto 0;
}
#footer .visit .visit-container .btn {
   text-decoration: none;
   color: white;
   font-size: 1.8rem;
   padding: 15px 20px;
   background-color: #dc8068;
   text-transform: uppercase;
   display: inline-block;
   margin: 20px 0;
   transition: all 0.2s linear;
}
#footer .visit .visit-container .btn:hover {
   background-color: #c94f2f;
}
#footer .visit .visit-container .footer-nav {
   height: 35px;
}
#footer .visit .visit-container .footer-nav ul {
   display: block;
}
#footer .visit .visit-container .footer-nav ul li {
   display: inline-block;
   list-style-type: none;
}
#footer .visit .visit-container .footer-nav ul li a {
   text-transform: uppercase;
   color: #333;
   padding: 10px 15px;
   text-decoration: none;
   font-size: 1.4rem;
   font-weight: 500;
}
#footer .visit .visit-container .footer-nav ul li a:hover {
   color: #877267;
}
#footer .copyright {
   width: 100%;
   background-color: #ebebeb;
}
#footer .copyright .copyright-container {
   max-width: 1200px;
   margin: 0 auto;
   height: 102px;
   padding: 0 15px;
   text-align: center;
   position: relative;
}
#footer .copyright .copyright-container a {
   color: white;
   font-size: 3rem;
   position: absolute;
   top: -22px;
   padding: 5px 11px;
   background-color: #664d42;
   border-radius: 50%;
}
#footer .copyright .copyright-container small {
   font-size: 1.2rem;
   padding-top: 45px;
   display: block;
   color: #988e89;
}
